body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
}

#info {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000090;
	z-index: 10001;
}

#info-main div {
	width: 350px;
	font-weight: bold;
	line-height: 15px;
}

#start {
	display: block;
	margin: 0 auto;
}

#VMDList {
	position: absolute;
	text-align: center;
	margin-top: 50px;
	left: -100px;
	width: 100px;
	transition: 1.5s;
	border-radius: 5px;
	background-color: #000000aa;
}

#VMDList a {
	color: aqua;
}

#useVMD {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #000000aa;
	z-index: 10002;
	border-radius: 10px;
	text-align: center;
}

#VMDlist {
	padding: 10px;
	border-radius: 10px;
}

#VMDlist a {
	cursor: pointer;
	text-decoration: underline;
	color: aqua;
}

#localVMD a {
	font-weight: bolder;
}

#localVMD div {
	width: 100%;
	height: 100px;
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#localVMD div * {
	margin-left: 10px;
}

#localVMD input {
	max-width: 300px;
	width: 40vw;
}

.progress {
	height: 10px;
	background-color: #fff;
	margin: 0 auto;
}

.progress-inside {
	height: 100%;
	background-color: greenyellow;
}

.poop {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	transition: 1.5s;
	border-radius: 5px;
	word-wrap: break-word;
	min-width: 100px;
}

.VMD {
	width: 80px;
	position: fixed;
	margin-top: 50px;
	text-align: center;
	background-color: #000000aa;
}

.banner {
	width: 100%;
	z-index: 99999;
	position: fixed;
	text-align: center;
}

.fault {
	bottom: 0;
	color: orange;
	font-weight: 800;
}